# Tidy Data on Python



En esta lectura, vamos a conocer un cat치logo de funciones y m칠todos para transformar nuestros datos en caso de que no cumplan ya con los principios de los [datos ordenados](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html) o tidy data.



Los principios sobre datos ordenados parecen tan obvios que te podr칤as preguntar si alguna vez encontrar치s un dataset que no est칠 ordenado. Desafortunadamente, gran parte de los datos que vas a encontrar est치n desordenados. Existen dos principales razones para esto:
 - La mayor칤a de las personas no est치n familiarizadas con los principios de datos ordenados y es dif칤cil derivarlos por cuenta propia a menos que pases mucho tiempo trabajando con datos.
 - Los datos a menudo est치n organizados para facilitar tareas distintas del an치lisis. Por ejemplo, los datos se organizan para que su registro sea lo m치s sencillo posible.

Esto significa que para la mayor칤a de los an치lisis necesitar치s hacer alg칰n tipo de orden. El primer paso es entender siempre cu치les son las variables y las observaciones. Esto a veces es f치cil; otras veces deber치s consultar con quienes crearon el dataset. El segundo paso es resolver uno de los siguientes problemas frecuentes:
 - Una variable se extiende por varias columnas
 - Una observaci칩n est치 dispersa entre m칰ltiples filas.
 
> ## Tidy Data is a way of structuring datasets to facilitate analysis.

#### En tidy data:

    1. Cada Variable debe tener su propia columna
    2. Cada Observaci칩n debe tener su propia fila
    3. Cada dato debe ser at칩mico y forma una tabla
    
#### Ejemplos de Datos Desordenados 游뱚 游밿

    * Los headers en las columnas son VALORES y no nombres de variables <- muy com칰n
    * Multiples variables guardadas en la misma columna
    * Variables guardadas una parte en columnas otras en filas
    * Los valores no s칩n at칩micos

In [6]:
import pandas as pd

Ponemos manos a la obra

In [7]:
d = {'pais': ['Colombia', 'M칠xico', 'Salvador'], '1999': [745, 37737, 212258], '2000': [2666, 80488, 213766]}
df = pd.DataFrame(data=d)
df

       pais    1999    2000
0  Colombia     745    2666
1    M칠xico   37737   80488
2  Salvador  212258  213766

쮺칩mo podr칤amos mejorar un poco esta tabla para tener la informaci칩n mas clara?



춰tiene como columnas los que parecieran ser a침ooos!


Pandas.melt() unpivots a DataFrame from wide format to long format.

In [8]:
pd.melt?

In [9]:
#C칩digo aqu칤 para modificar la tabla con pd.melt
pd.melt(df, id_vars='pais', var_name = 'a침o', value_name='cuenta')

       pais   a침o  cuenta
0  Colombia  1999     745
1    M칠xico  1999   37737
2  Salvador  1999  212258
3  Colombia  2000    2666
4    M칠xico  2000   80488
5  Salvador  2000  213766

Otro ejemplo para aplicar la funci칩n de melt

In [10]:
# Otro Ejemplo
df_relinc=pd.read_csv("religion_income.csv")
df_relinc.head()

,religion,<10k,10-20k,20-30k,30-40k,40-50k,50-75k,75-100k,100-150k,>150k,refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,refused,15,14,15,11,10,35,21,17,18,116

In [11]:
# Escribe aqu칤 tu c칩digo
religion_melted = df_relinc.melt(id_vars=["religion"], var_name=["income"], value_name="frecuency")
religion_melted.head(25)

                   religion  income  frecuency
0                  Agnostic    <10k         27
1                   Atheist    <10k         12
2                  Buddhist    <10k         27
3                  Catholic    <10k        418
4                   refused    <10k         15
5          Evangelical Prot    <10k        575
6                     Hindu    <10k          1
7   Historically Black Prot    <10k        228
8         Jehovah's Witness    <10k         20
9                    Jewish    <10k         19
10            Mainline Prot    <10k        289
11                   Mormon    <10k         29
12                   Muslim    <10k          6
13                 Orthodox    <10k         13
14          Other Christian    <10k          9
15             Other Faiths    <10k         20
16    Other World Religions    <10k          5
17             Unaffiliated    <10k        217
18                 Agnostic  10-20k         34
19                  Atheist  10-20k         27
20                 Buddhist  10-20k         21
21                 Catholic  10-20k        617
22                  refused  10-20k         14
23         Evangelical Prot  10-20k        869
24                    Hindu  10-20k          9

## Ejemplo de Formato Long a Formato Wider


usando wider_to_long.pivot_table

In [12]:
wider_to_long = pd.read_csv('wider.csv')
#wider_to_long = pd.read_csv('data/wider.csv', index_col=0)
wider_to_long

    Unnamed: 0        pais  anio       tipo      cuenta
0            1  Afganist치n  1999      casos         745
1            2  Afganist치n  1999  poblaci칩n    19987071
2            3  Afganist치n  2000      casos        2666
3            4  Afganist치n  2000  poblaci칩n    20595360
4            5      Brasil  1999      casos       37737
5            6      Brasil  1999  poblaci칩n   172006362
6            7      Brasil  2000      casos       80488
7            8      Brasil  2000  poblaci칩n   174504898
8            9       China  1999      casos      212258
9           10       China  1999  poblaci칩n  1272915272
10          11       China  2000      casos      213766
11          12       China  2000  poblaci칩n  1280428583

In [13]:
# Escribe aqu칤 tu c칩digo
wider_to_long = wider_to_long.drop(columns = 'Unnamed: 0')
wider_to_long

          pais  anio       tipo      cuenta
0   Afganist치n  1999      casos         745
1   Afganist치n  1999  poblaci칩n    19987071
2   Afganist치n  2000      casos        2666
3   Afganist치n  2000  poblaci칩n    20595360
4       Brasil  1999      casos       37737
5       Brasil  1999  poblaci칩n   172006362
6       Brasil  2000      casos       80488
7       Brasil  2000  poblaci칩n   174504898
8        China  1999      casos      212258
9        China  1999  poblaci칩n  1272915272
10       China  2000      casos      213766
11       China  2000  poblaci칩n  1280428583

In [14]:
wider_to_long.columns

Index(['pais', 'anio', 'tipo', 'cuenta'], dtype='object')

In [15]:
wider_to_long = wider_to_long.pivot_table(index= ['anio', 'pais'], columns = 'tipo', values='cuenta')
wider_to_long

tipo              casos   poblaci칩n
anio pais
1999 Afganist치n     745    19987071
     Brasil       37737   172006362
     China       212258  1272915272
2000 Afganist치n    2666    20595360
     Brasil       80488   174504898
     China       213766  1280428583

## Separar datos que est치n juntos en una sola columnas

con .split(), .drop(), .concat()

In [16]:
## Separar columnas
# Vamo a ver
separate = pd.read_csv('separate.csv')
separate

         pais  anio               tasa
0  Afganist치n  1999       745/19987071
1  Afganist치n  2000      2666/20595360
2      Brasil  1999    37737/172006362
3      Brasil  2000    80488/174504898
4       China  1999  212258/1272915272
5       China  2000  213766/1280428583

In [17]:
##  Escribe tu c칩digo aqu칤 para separar str.split()

expanded = separate['tasa'].str.split('/', expand = True)
expanded.columns = ['casos', 'poblacion']
expanded


### Escribe tu c칩digo aqu칤 para quitar una columna hint .drop()
separate.drop(columns = 'tasa', inplace = True )
separate




### Escribe tu c칩digo aqu칤 para unir todo en un solo df .concat()
pd.concat([separate, expanded], axis = 1)

         pais  anio   casos   poblacion
0  Afganist치n  1999     745    19987071
1  Afganist치n  2000    2666    20595360
2      Brasil  1999   37737   172006362
3      Brasil  2000   80488   174504898
4       China  1999  212258  1272915272
5       China  2000  213766  1280428583

## Unir datos que est치n en columnas diferentes

In [18]:
fusion = pd.read_csv('unite.csv')
fusion

         pais  siglo  anio               tasa
0  Afganist치n     19    99       745/19987071
1  Afganist치n     20     0      2666/20595360
2      Brasil     19    99    37737/172006362
3      Brasil     20     0    80488/174504898
4       China     19    99  212258/1272915272
5       China     20     0  213766/1280428583

In [19]:
##  Escribe tu c칩digo aqu칤 
# hint revisa el tipo de dato que hay
# une simplemente con +
fusion['completo'] = fusion['siglo']*100 + fusion['anio']
fusion

         pais  siglo  anio               tasa  completo
0  Afganist치n     19    99       745/19987071      1999
1  Afganist치n     20     0      2666/20595360      2000
2      Brasil     19    99    37737/172006362      1999
3      Brasil     20     0    80488/174504898      2000
4       China     19    99  212258/1272915272      1999
5       China     20     0  213766/1280428583      2000

# Merge methods (mutating joins)
![alt text](https://storage.googleapis.com/campus-cvs/lectures/3.4%20Merge%20Methods.png "Merge Methods")

**IMPORTANTE:** En esta clase se asume que los datos ya se encuentran en un formato com칰nmente conocido como 랎idy data, es decir, donde cada fila corresponde a una 칰nica observaci칩n y cada columna contiene valores correspondientes a una 칰nica variable. En esta lectura, utilizaremos de ejemplo un data set que ya cumple con la anterior definici칩n.

### Introducci칩n

En la pr치ctica, es raro que un an치lisis de datos involucre solamente una tabla. Normalmente tendr치s muchas tablas contribuyendo a tu an치lisis y necesitas herramientas flexibles para combinarlas.

Si ha utilizado alg칰n lenguaje de consulta a una base de datos, como SQL, recordar치 que hay ciertas operaciones que permiten unificar dos o m치s de esas tablas, complementando los valores entre ellas. A este tipo de operaci칩n se le llama **JOIN**

Hay 3 operaciones fundamentales que se pueden realizar con un **JOIN**:

- **Uniones uno a uno:** por ejemplo, al unir dos tablas por su columna de 칤ndices o ID (que debe contener valores 칰nicos).

- **Uniones de muchos a uno:** por ejemplo, cuando se une un 칤ndice (칰nico) a una o m치s columnas en una tabla diferente.

- **Uniones de muchos a muchos:** uni칩n donde el criterio de 칤ndices abarca dos o m치s columnas. Por ejemplo, cuando queremos unir una tabla de aviones con una de vuelos y necesitamos unir mediante la aerol칤nea y el ID de vuelo, pues si solo lo hacemos mediante una de ellas, podr칤a haber duplicados o no haber coincidencias.

#### Nota:
Al unir columnas en columnas (potencialmente una combinaci칩n de muchos a muchos), se descartar치n los 칤ndices de las tablas pasadas.

Vale la pena dedicar un tiempo a comprender el resultado del caso de uni칩n de muchos a muchos. En SQL / 치lgebra relacional est치ndar, si una combinaci칩n de 칤ndices aparece m치s de una vez en ambas tablas, la tabla resultante tendr치 el producto cartesiano de los datos asociados. Aqu칤 hay un ejemplo muy b치sico con una combinaci칩n de teclas 칰nica:

## Usemos mas a fondo merge

In [20]:
left = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)
right = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

right2 = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K0", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)
left2 = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [21]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [22]:
left2

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [23]:
right2

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

Trabajemos un poco con unir modificando varios par치metros


pd.merge(left, right, how: str='inner', on=None, left_on=None, right_on=None,....)



how : {'left', 'right', 'outer', 'inner'}
on : label or list

In [24]:
pd.merge?

In [25]:
pd.merge(left, right, on=['key'])

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

## Merge methods

El argumento `how` del m칠todo `merge` especifica c칩mo determinar qu칠 variables (columnas) ser치n incluidas en la tabla resultante. Si una valores no aparece en las tablas de la izquierda o de la derecha, los valores de la tabla combinada ser치n `NA`. Aqu칤 hay un resumen de las opciones de `how` y sus nombres equivalentes de SQL:

| Merge method | Nombre del SQL Join | Descripci칩n                                  |
| ------------ | ------------------- | -------------------------------------------- |
| left         | LEFT OUTER JOIN     | Usa 칰nicamente las variables de la izquierda |
| right        | RIGHT OUTER JOIN    | Usa 칰nicamente las variables de la derecha   |
| outer        | FULL OUTER JOIN     | Utiliza la uni칩n de las variable de ambos data frames |
| inner        | INNER JOIN          | Utiliza la intersecci칩n de las variables de ambos data frames |

### Left Join

In [26]:
pd.merge(left2, right2 , how="left", on = ['key1', 'key2'])

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

### Right Join

In [27]:
pd.merge(left2, right2 , how="right", on = ['key1', 'key2'])

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

### Outer Join

In [28]:
pd.merge(left2, right2, how="outer", on=["key1", "key2"])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

### Inner Join

In [29]:
pd.merge(left2, right2, how="inner", on=["key1", "key2"])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

#### Nota:


Esos fueron los tipos de join que puedes realizar entre data frames.

El m칠todo `merge` acepta m치s argumentos en funci칩n de los casos especiales que se te vayan presentando. Para esos casos, te recomiendo consultar la [documentaci칩n](https://pandas.pydata.org/docs/user_guide/merging.html#database-style-dataframe-or-named-series-joining-merging).